.git
.gitignore
.github

.venv
venv
**/__pycache__
**/*.pyc

.env
.fyers_token

data
reports

tests

.streamlit
config/kite.ini

*.md

index.html
public
dashboard_data*.json
intraday_*.json
live_data.json
